.DS_Store
__pycache__/
*.py[cod]
.pytest_cache/
.venv/
build/
dist/
*.egg-info/
paper/arxiv/*.aux
paper/arxiv/*.bbl
paper/arxiv/*.blg
paper/arxiv/*.log
paper/arxiv/*.out
paper/arxiv/*.toc
paper/arxiv/main.pdf
paper/arxiv/main-en.pdf
